<% if(!layer){ %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>
<% } %>	 	 
	<div class="row">
			
		<h1 class="page-header">
			Media Library Edit
		</h1>
		<div class="row">
			<form action="/app/media" method="post" <% if(imageData.new){ %> enctype="multipart/form-data" <% } %>>
				<div class="col-md-6">
					<% if(imageData.new){ %>
						<label class="btn btn-default btn-file">	
							<input type="file" name="newImage">
						</label>
					<% }else{ %>
						<img src="/uploads/<%= imageData.image %>" alt="" class="img-thumbnail img-responsive">
					<% } %>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<label for="">Name</label>
							<input class="form-control" name="name" value="<%= imageData.name %>"></input>
							<input type="hidden" name="origName" value="<%= imageData.name %>">
							<input type="hidden" name="fullImageName" value="<%= imageData.image %>">
						</div>
						<div class="col-md-6">
							<label for="">Rotate</label>
							<select class="form-control" name="rotate" value="">
								<option value=""></option>
								<option value="90">90</option>
								<option value="180">180</option>
								<option value="270">270</option>
								<option value="360">360</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="">Width</label>
							<input class="form-control" name="width" value="<%= imageData.width %>"></input>
						</div>
						<div class="col-md-6">
							<label for="">Height</label>
							<input class="form-control" name="height" value="<%= imageData.height %>"></input>
						</div>
					</div>

					<div class="submit-wrapper">
						<input type="submit" class="btn-block btn btn-primary" value="Update">
						<a href="/app/media/delete/<%= imageData.image %>" class="btn-block btn btn-danger">Delete</a>
					</div>

				</div>
			</form>
		</div>
	</div>
<% if(!layer){ %>	
	<% include ../partials/footer %>
    
</body>
</html>
<% } %>	