<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>

	<h1 class="page-header text-capitalize">
		<%= type %>
		<a href="/app/pages/new?type=<%= type %>" class="pull-right btn btn-primary btn-lg">
			<span class="glyphicon glyphicon-plus"></span>
			New <%= type %>
		</a>
	</h1>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Page Name</th>
					<th>Page Slug</th>
					<th>Active</th>
					<th class="text-center">Page Preview</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% pages.forEach(function(page, i) { %>
			
				<tr>
					<td>
						<%= i + 1 + offset %>
					</td>
					<td>
						<a href="/app/pages/edit/<%= page._id %>?type=<%= type %>"><%= page.name %></a>
					</td>
					<td>
						<a href="/app/pages/edit/<%= page._id %>?type=<%= type %>"><%= page.slug %></a>
					</td>
					<td>
						<%= page.active %>
					</td>
					<td class="text-center">
						<a href="/app/pages/preview/<%= page.slug %>?type=<%= type %>">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
					</td>
					<td class="pull-right">
						<a href="/app/pages/edit/<%= page._id %>?type=<%= type %>">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						&nbsp
						<a href="/app/pages/delete/<%= page._id %>?type=<%= type %>">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>

				<% }); %>
			</tbody>
		</table>
	</div>
	<% if(total > limit){ %>
		<nav>
			<ul class="pagination">
				<% if(offset > 0){ %>
					<li>
						<a href="/app/pages?type=<%= type %>&offset=<%= offset - limit %>" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				<% } %>
				
				<% for(i = 0; i < totalPages; i++){ %>
					<li class="<%= (offset == (i * limit) || (!offset && i == 0 ) ) ? 'active' : '' %>"><a href="/app/pages?type=<%= type %>&offset=<%= i * limit %>"><%= i + 1 %></a></li>
				<% } %>
				
				<% if(offset + limit < total){ %>
					<li>
						<a href="/app/pages?type=<%= type %>&offset=<%= offset + limit %>" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				<% } %>
			</ul>
		</nav>
	<% } %>
	<% include ../partials/footer %>
    
</body>
</html>