<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>

	<h1 class="page-header">
		<%= title %>
	</h1>
	
	<form  action="/app/pages/<%= page._id ? 'update' : 'new' %>" method="post">
		<input type="hidden" name="id" value="<%= page._id %>">
		<input type="hidden" name="type" value="<%= type %>">
		
		<div class="container-fluid col-md-10">
			<div class="row">
				<% if(message.length){ %>
					<div class="col-md-12">
						<div class="alert alert-success"><%= message %></div>
					</div>
				<% } %>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="">Page Name</label>
					<input type="text" name="name" id="pageName" class="form-control" placeholder="Page Name" value="<%= page.name %>">
				</div>
				<div class="col-md-6">
					<label for="">Page Slug</label>
					<input type="text" name="slug" id="pageSlug" class="form-control" placeholder="Page Slug" value="<%= page.slug %>">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<label for="">Page content</label>
					<textarea name="content" id="editor" cols="30" rows="10" class="form-control"><%= page.content %></textarea>
				</div>
			</div>
		</div>
		<div class="container-fluid col-md-2">
			<div class="col-md-12">
				<label for="">Page Start</label>
				<input type="date" name="start" class="form-control" placeholder="Page Start" value="<%= page.start %>">
			</div>
			<div class="col-md-12">
				<label for="">Page End</label>
				<input type="date" name="end" class="form-control" placeholder="Page End" value="<%= page.end %>">
			</div>
			
			<% filters.forEach(function(filter){ %>
				
				<div class="row">
					<div class="col-md-12">
						<label for=""><%= filter.niceName %></label>
						<select name="<%= filter.name %>" id="" class="form-control" value="<%= page[filter.name] %>">
							<option value=""></option>
							<% filter.list.forEach(function(li){ %>
							<option value="<%= li.name %>" <%= page[filter.name] === li.name ? 'selected' : '' %>><%= li.name %></option>
							<% }) %>
						</select>	
					</div>
				</div>
			
			<% }) %>
			
			<div class="col-md-12">
				<label for=""></label>
				<a href="/app/media?layer=true" type="button" class="btn btn-default form-control" data-toggle="modal" data-target="#media"><span class="glyphicon glyphicon-picture"></span> Add Image</a>
			</div>
			<% if(page.slug){ %>
			<div class="col-md-12">
				<br>
				<a href="/app/pages/preview/<%= page.slug %>?type=<%= type %>" class="btn btn-default btn-lg btn-block">Preview</a>
			</div>
			<% } %>
		</div>
		<div class="row">
			<div class="col-md-5">

			</div>
			<div class="col-md-2">
				<label for=""></label>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
			</div>
			<div class="col-md-5">

			</div>
		</div>
	</form>
	
	<!-- Modal -->
	<div id="media" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	
	<% include ../partials/footer %>
    <script src="//cdn.ckeditor.com/4.5.4/full/ckeditor.js"></script>
</body>
</html>